# Ambiente Virtual
venv/
*.pyenv

# Arquivos compilados Python
__pycache__/
*.pyc
uploads/
*.py[cod]
*$py.class

# Arquivos de configuração local/segredos
.env
.db
config.py
instance/
*.pem
*.key

# Pasta de Uploads (geralmente não versionada)
uploads/

# Arquivos de SO
.DS_Store
Thumbs.db

# Arquivos de IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.swp
formatadores/tabela_precos_formatador.py
