{% extends "base.html" %} {% block title %}Importação SIENGE - Seleção{%
endblock %} {% block content %}
<h1>Importação SIENGE - Incorporação</h1>
<p>
  Selecione a planilha Excel (.xlsx ou .xls) contendo os dados originais,
  incluindo a coluna "ETAPA".
</p>

<form
  action="{{ url_for('upload_file_sienge') }}"
  method="post"
  enctype="multipart/form-data"
  class="tool-form"
>
  <div class="form-group">
    <label for="arquivo_entrada">Planilha de Entrada:</label>
    <input
      type="file"
      id="arquivo_entrada"
      name="arquivo_entrada"
      accept=".xlsx, .xls"
      required
    />
    <small
      >A planilha deve conter as colunas: ETAPA, ÁREA CONSTRUÍDA, FRAÇÃO IDEAL,
      e (QUADRA ou BLOCO), e (CASA ou APT).</small
    >
  </div>

  <button type="submit" class="full-width" style="margin-top: 25px">
    Carregar Etapas para Mapeamento
  </button>
</form>
{% endblock %}
